<h1>All kittens come from cats</h1>
<p>Pretty sassy cats</p>
<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" src="http://images.fineartamerica.com/images-medium-large/1-sassy-sassy-cat-david-sutter.jpg"/>
	</div>
	<div class="col-md-6">
		<table class="table table-responsive table-hover table-bordered">
			<tr>
				<th>Types of cats</th>
				<th>Wikipedia page</th>
				<th>Picture</th>
			</tr>
			<tr>
				<td>Bengal</td>
				<td><a href="http://en.wikipedia.org/wiki/Bengal_(cat)">Bengal Cat Page</a></td>
				<td><img class="img-responsive img-circle" src="http://upload.wikimedia.org/wikipedia/en/3/3a/Freddie4.jpg"/></td>
			</tr>
			<tr>	
				<td>Burmese</td>
				<td><a href="http://en.wikipedia.org/wiki/Burmese_cat"> Burmese Cat Page</a></td>
				<td><img class="img-responsive img-circle" src="http://www.cat-breeds-encyclopedia.com/image-files/burmeseportrait.jpg"/></td>
			</tr>
			<tr>	
				<td>Persian</td>
				<td><a href="http://en.wikipedia.org/wiki/Persian_cat">Persian Cat Page</a></td>
				<td><img class="img-responsive img-circle" src="http://www.hdwallpaperscool.com/wp-content/uploads/2013/11/hd-wallpapers-persian-cat-cool-desktop-backgrounds-widescreen.jpg"/></td>
			</tr>	
		</table>	
	</div>	
</div>
<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" src="https://lh3.googleusercontent.com/-_f-GSJAsNJA/AAAAAAAAAAI/AAAAAAAAABo/2SqrwkDdcEo/photo.jpg"/>
	</div>
	<div class="col-md-6">
		<img class="img-responsive" src="http://ohmygodcats.com/wp-content/uploads/2014/02/Sassy-Cat-Pic-640x607.jpg"/>
	</div>
</div>
